.feedback-form {
  .title {
    font-size: 24px;
    line-height: 29px;
    font-family: 'Oswald', sans-serif;
    text-align: right;
  }
  .subtitle {
    font-size: 14px;
    line-height: 17px;
    text-align: right;
  }
  .input-pair {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 40px 0;
  }
  input {
    height: 50px;
    width: 100%;
    border: 2px solid #272727;
    border-radius: 36px;
    background: transparent;
    padding: 5px 25px;
    font-size: 24px;
    line-height: 29px;
    &:focus {
      outline: none;
      border-color: #4a29bf;
    }
  }
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  .errored input {
    border-color: red;
  }
  .imageWrapper {
    height: 402px;
    width: 302px;
    max-width: 100%;
    border: 2px solid #272727;
    border-radius: 2px;
    margin: 40px auto 25px auto;
    background-image: url('../assets/noun_Photo_1906155@2x.png');
    background-position: center;
    background-size: 40%;
    background-repeat: no-repeat;
    &.errored {
      border-color: red;
    }
  }
  .button.block {
    max-width: 302px;
    margin: auto;
    margin-bottom: 80px;
  }
}
