.alert {
  min-height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.feedback-form {
  margin-bottom: 100px;
  transition: opacity 0.5s linear;
  opacity: 1;
  &.collapsed {
    opacity: 0;
  }
  .title {
    font-size: 24px;
    line-height: 29px;
    font-family: 'Oswald', sans-serif;
    text-align: right;
  }
  .subtitle {
    font-size: 14px;
    line-height: 17px;
    text-align: right;
  }
  .input-pair {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 40px 0;
  }
  input {
    height: 50px;
    width: 100%;
    border: 2px solid #B2B2B2;
    border-radius: 3px;
    background: transparent;
    padding: 5px 10px;
    font-size: 24px;
    line-height: 29px;
    &:focus {
      outline: none;
      border-color: #1F1F1F;
    }
  }
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  .errored input {
    border-color: red;
  }
  .imageWrapper {
    height: 402px;
    width: 302px;
    max-width: 100%;
    border: 2px solid #272727;
    border-radius: 2px;
    margin: 40px auto 25px auto;
    background-image: url('../assets/noun_Photo_1906155@2x.png');
    background-position: center;
    background-size: 40%;
    background-repeat: no-repeat;
    &.errored {
      border-color: red;
    }
  }
  .button.block {
    max-width: 302px;
    margin: auto;
    margin-bottom: 80px;
  }
  .checkboxWrapper {
    position: relative;
    height: 40px;
    display: flex;
    margin-bottom: 70px;
    z-index: 1;
    h4 {
      margin-left: 10px;
      a {
        color: #ed493b;
      }
    }
  }
  .check {
    width: 30px;
    height: 30px;
    min-width: 30px;
    input {
      display: none;
      &:checked + .box {
        background-color: #272727;

        &:after {
          top: 0;
        }
      }
    }

    .box {
      width: 100%;
      height: 100%;
      border: 2px solid #272727;
      border-radius: 5px;
      transition: all 1.1s cubic-bezier(0.19, 1, 0.22, 1);
      // border: 2px solid transparent;
      background-color: #e9eaed;
      position: relative;
      overflow: hidden;
      cursor: pointer;
      &.error {
        border-color: red;
      }
      &:after {
        width: 86%;
        height: 51%;
        content: '';
        position: absolute;
        border-left: 3px solid;
        border-bottom: 3px solid;
        border-color: #ffffff;
        transform: rotate(-45deg) translate3d(0, 0, 0);
        transform-origin: center center;
        transition: all 1.1s cubic-bezier(0.19, 1, 0.22, 1);
        margin-top: 11%;
        margin-left: 10%;
        left: 0;
        right: 0;
        top: 200%;
        bottom: 5%;
      }
    }
  }
}

.dark {
  .imageWrapper {
    background-image: url('../assets/noun_Photo_1906155@2x 2.png');
  }
}
