.header {
  min-height: 80px;
  position: relative;
  background-color: #e9eaed;
  z-index: 1;
  .absoluted {
    position: absolute;
    z-index: 1;
    width: 100%;
  }
  li {
    margin: 25px 0 10px 0;
    a {
      padding: 10px 20px;
      font-size: 20px;
      line-height: 24px;
      color: #272727;
      text-decoration: none;
      transition: all 50ms linear;
      font-family: 'Oswald', sans-serif;
      &:hover {
        color: #ff5555;
      }
    }
    &.active {
      border-bottom: 3px solid #ff5555;
      a {
        color: #ff5555;
      }
    }
  }
  .instawrapper {
    position: absolute;
    text-align: right;
    top: 50%;
    transform: translateY(-50%);
    right: 25px;
    z-index: 2;
    a {
      color: #000;
      font-size: 20px;
      font-weight: 500;
    }
    .instagram {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px 0;
      .icon {
        background-image: url('../assets/inst@2x.png');
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        height: 25px;
        width: 25px;
        margin-right: 15px;
        display: inline-block;
      }
    }
  }
}
.text-centered {
  text-align: center;
}
.bm-burger-button {
  z-index: 1200 !important;
  left: 30px !important;
}
.bm-cross-button {
  .bm-cross {
    background: none;
  }
}
.bm-menu {
  background: #ffffff;
  padding-top: 20%;
  .mobile-menu-list {
    width: max-content;
    text-align: center;
    margin: auto;
  }
  .menu-item a {
    padding: 20px 20px 7px 20px;
    font-size: 20px;
    line-height: 24px;
    color: #272727;
    text-decoration: none;
    transition: all 50ms linear;
    font-family: 'Oswald', sans-serif;
    display: block;
  }
  .menu-item.active {
    position: relative;
    &:after {
      content: '';
      position: absolute;
      height: 1px;
      width: 60%;
      border-bottom: 3px solid #ff5555;
      left: 50%;
      transform: translateX(-50%);
    }
    a {
      color: #ff5555;
    }
  }
  .main-logo {
    position: absolute;
    bottom: 20vh;
    left: 50%;
    transform: translateX(-50%);
    color: #272727;
    font-family: 'Oswald', sans-serif;
    width: 70%;
    display: flex !important;
    justify-content: center;
    img {
      max-width: 90%;
      width: 400px;
      margin: auto;
      margin-bottom: 20px;
    }
  }
}
