body {
  //   font-family: $font-family;
  font-family: 'Roboto', sans-serif;
  color: #272727;
  margin: 0;
  padding: 0;
  background-color: #e9eaed;
  overflow-x: hidden;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Oswald', sans-serif;
}

a {
  cursor: pointer;
}

.text-react-blue {
  color: $react-blue;
}

.bg-react-black {
  background-color: $react-black;
}

.button {
  display: block;
  font-family: 'Oswald', sans-serif;
  border-radius: 2px;
  height: 63px;
  width: 277px;
  font-size: 24px;
  line-height: 63px;
  text-align: center;
  transition: all 200ms linear;
  &.button-main {
    background: linear-gradient(154.42deg, #ff7a38 0%, #d62424 100%);
    color: #ffffff;
  }
  &.button-inverse {
    border-radius: 2px;
    color: #ed493b;
    font-size: 24px;
    line-height: 48px;
    text-align: center;
    border: 5px solid transparent;
    border-image: linear-gradient(154.42deg, #ff7a38 0%, #d62424 100%);
    border-image-slice: 1;
    &:hover {
    }
  }
  &.block {
    width: 100%;
  }
  &:hover {
    text-decoration: none;
    &.button-inverse {
      box-shadow: 0 2px 20px 0 rgba(255, 85, 85, 0.28);
    }
    &.button-main {
      box-shadow: 0 2px 30px 0 rgba(255, 85, 85, 0.53);
    }
  }
}
