.main-page {
  .block-1 {
    height: 100vh;
    max-height: 950px;
    margin-top: -100px;
    position: relative;
    .col {
      display: flex;
      flex: 1;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      .content-wrapper {
        position: absolute;
        margin-top: 100px;
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: center;
        flex-direction: column;
      }
    }
    h1,
    h4 {
      color: #cd2119;
    }
    h1 {
      font-size: 50px;
      font-weight: 700;
    }
    h4 {
      font-weight: 100;
    }
    .main-logo {
      color: #fff;
      font-family: 'Oswald', sans-serif;
      .top {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        .big {
          font-size: 72px;
        }
        .middle {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          font-size: 35px;
          line-height: 30px;
        }
      }
      .bottom {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 39px;
        line-height: 5px;
      }
    }
    .venok {
      height: 140px;
      margin-top: 50px;
      width: 100%;
      background-position: center;
      background-size: 100px;
      background-repeat: no-repeat;
      background-image: url('../assets/Wings 3@2x.png');
    }
    .background {
      position: absolute;
      top: 70px;
      left: 50%;
      transform: translateX(-50%);
      max-height: 900px;
      width: 100vw;
      height: 100vh;
      background: url('../assets/Picture@2x.jpg');
      background-position: right top;
      background-size: cover;
      background-repeat: no-repeat;
    }
    .button {
      margin: 30px 0;
    }
    .col {
      display: flex;
      flex: 1;
      justify-content: center;
      flex-direction: column;
    }
    .man-image {
      height: 75%;
      width: 100%;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      background-image: url('../assets/Conor-McGregor_302601_RightFullBodyImage@2x.png');
      position: absolute;
      top: 15%;
    }
    .video-trigger {
      height: 120px;
      width: 120px;
      background-position: center;
      background-size: 135px;
      background-repeat: no-repeat;
      background-image: url('../assets/Video@2x.png');
      z-index: 1;
      margin: -20px auto;
    }
    .info {
      margin-bottom: 50px;
      h4 {
        color: #777777;
        font-size: 24px;
        line-height: 29px;
      }
      .date {
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;
        .day {
          font-size: 72px;
          color: #ff5555;
          font-weight: 700;
          font-family: 'Oswald', sans-serif;
        }
        .month {
          height: 57px;
          width: 182px;
          opacity: 0.5;
          color: #ff5555;
          font-size: 48px;
          line-height: 58px;
          margin: 0 20px;
        }
      }
    }
  }
  .parallax {
    position: absolute !important;
    height: 100vh;
    width: 100%;
    max-width: 100vw;
    z-index: -10;
    // top: -200px;
    & > * {
      // background-size: 150%;
      background-position: center;
      height: 100%;
      width: 100%;
      opacity: 0.5;
    }
    .Black {
      background-image: url('../assets/Black blocks@2x.png');
    }
    .Gray {
      background-image: url('../assets/Gray blocks@2x.png');
    }
    .White {
      background-image: url('../assets/White blocks@2x.png');
    }
    .Violet {
      background-image: url('../assets/Violet blocks.png');
    }
  }

  .block-2 {
    margin-top: 100px;
    .reason {
      display: flex;
      flex: 1;
      justify-content: center;
      .paragraph {
        margin: auto;
        border-left: 3px solid #cd2119;
        padding-left: 30px;
        font-size: 24px;
        line-height: 29px;
        .bold {
          color: #e73f25;
          font-weight: bold;
        }
      }
    }
    .big-x {
      height: 191px;
      width: 225px;
      background-image: url('../assets/X@2x.png');
      background-position: center;
      background-size: 100%;
      background-repeat: no-repeat;
    }
  }

  .block-3 {
    color: #fff;
    padding: 300px 0;
    .background {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      width: 100vw;
      background-color: #272727;
      height: 1600px;
      // position: relative;
      &:before {
        content: '';
        position: absolute;
        top: -345px;
        background-position: top;
        background-size: 1400px;
        background-repeat: repeat-x;
        height: 100%;
        width: 100vw;
        background-image: url('../assets/top border blocks@2x.png');
      }
      &:after {
        content: '';
        position: absolute;
        bottom: -275px;
        background-position: bottom;
        background-size: 1400px;
        background-repeat: repeat-x;
        height: 100%;
        width: 100vw;
        background-image: url('../assets/Bottom block@2x.png');
      }
    }
    .task {
      margin: 100px 0;
      .task-name {
        font-size: 36px;
        line-height: 44px;
        padding-bottom: 20px;
      }
      p {
        font-size: 20px;
        line-height: 30px;
        font-weight: 100;
        a {
          color: #cd2119;
        }
      }
      .image-wrapper {
        display: flex;
        align-items: center;
        flex: 1;
        .illustration {
          margin: auto;
          background-position: center;
          background-size: contain;
          background-repeat: no-repeat;
          &.youtube {
            background-image: url('../assets/rules@2x.png');
            height: 270px;
            width: 350px;
          }
          &.mail {
            background-image: url('../assets/rules copy@2x.png');
            height: 270px;
            width: 350px;
          }
          &.trophy {
            background-image: url('../assets/rules copy 2@2x.png');
            height: 270px;
            width: 350px;
          }
        }
      }
    }
  }
}

@media (max-width: 992px) {
  .lg-none {
    display: none !important;
  }
  .block-2 {
    .big-x {
      margin: 20px auto !important;
    }
    .paragraph {
      margin: auto;
      border-left: none !important;
      padding-left: 0 !important;
    }
  }
  .block-3 {
    .task {
      margin: 80px 0;
    }
  }
  .bm-burger-button {
    display: none;
  }
  .header {
    display: block;
  }
}

@media (max-width: 768px) {
  .block-3 {
    .task {
      margin: 50px 0;
    }
    .background {
      height: 2400px !important;
    }
  }
}
@media (min-width: 693px) {
  .bm-burger-button {
    display: none;
  }
}
@media (max-width: 692px) {
  .header,
  .sm-none {
    display: none !important;
  }
  .note {
    margin-top: 100px;
  }
  .block-1 {
    margin-top: 0 !important;
    &:before {
      content: '';
      position: absolute;
      width: 100vw;
      height: 100vh;
      background: #000;
      top: 0;
      z-index: -1;
      left: 50%;
      transform: translateX(-50%);
    }
    .background {
      top: 40vh !important;
      height: 80vh !important;
      background-size: 200% !important;
    }
    .col {
      margin-top: 50px;
      justify-content: flex-start !important;
      align-items: center !important;
      .content-wrapper {
        margin-top: 0px !important;
      }
    }
    .main-logo {
      margin-bottom: 10px;
      .top {
        .big {
          font-size: 60px !important;
        }
        .middle {
          font-size: 29px !important;
          line-height: 25px !important;
        }
      }
      .bottom {
        font-size: 32px !important;
        line-height: 4px !important;
      }
    }
    .venok {
      display: none;
    }
  }
  .block-3 {
    .task {
      margin: 50px 0;
    }
    .background {
      height: 2400px !important;
    }
  }
  .input-pair {
    .title,
    .subtitle {
      text-align: left !important;
    }
  }
  .bm-burger-button {
    display: block;
  }
}

@media (max-width: 375px) {
  .main-logo {
    .top {
      .big {
        font-size: 50px !important;
      }
      .middle {
        font-size: 24px !important;
        line-height: 21px !important;
      }
    }
    .bottom {
      font-size: 27px !important;
      line-height: 3px !important;
    }
  }
  .parallax > * {
    background-size: 150%;
  }
  .block-3 {
    .task {
      margin: 40px 0;
    }
  }
}
