.main-page {
  .block-1 {
    height: 100vh;
    position: relative;
    margin-top: -100px;
    h1,
    h4 {
      color: #4a29bf;
    }
    h1 {
      font-size: 50px;
      font-weight: 700;
    }
    h4 {
      font-weight: 100;
    }
    .button {
      margin: 30px 0;
    }
    .col {
      display: flex;
      flex: 1;
      justify-content: center;
      flex-direction: column;
    }
    .man-image {
      height: 75%;
      width: 100%;
      background-position: center;
      background-size: contain;
      background-image: url('../assets/Conor-McGregor_302601_RightFullBodyImage@2x.png');
      background-repeat: no-repeat;
      position: absolute;
      top: 15%;
    }
    .video-trigger {
      height: 120px;
      width: 120px;
      background-position: center;
      background-size: 135px;
      background-repeat: no-repeat;
      background-image: url('../assets/Video@2x.png');
      z-index: 1;
      margin: -20px auto;
    }
    .info {
      margin-bottom: 50px;
      h4 {
        color: #777777;
        font-size: 24px;
        line-height: 29px;
      }
      .date {
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;
        .day {
          font-size: 72px;
          color: #ff5555;
          font-weight: 700;
          font-family: 'Oswald', sans-serif;
        }
        .month {
          height: 57px;
          width: 182px;
          opacity: 0.5;
          color: #ff5555;
          font-size: 48px;
          line-height: 58px;
          margin: 0 20px;
        }
      }
    }
  }
  .parallax {
    position: absolute;
    height: 100vh;
    width: 100%;
    max-width: 100vw;
    z-index: -10;
    // top: -200px;
    & > * {
      // background-size: 150%;
      background-position: center;
      height: 100%;
      width: 100%;
      opacity: 0.5;
    }
    .Black {
      background-image: url('../assets/Black blocks@2x.png');
    }
    .Gray {
      background-image: url('../assets/Gray blocks@2x.png');
    }
    .White {
      background-image: url('../assets/White blocks@2x.png');
    }
    .Violet {
      background-image: url('../assets/Violet blocks.png');
    }
  }

  .block-2 {
    margin-top: 100px;
    .reason {
      display: flex;
      flex: 1;
      justify-content: center;
      .paragraph {
        margin: auto;
        border-left: 3px solid #cd2119;
        padding-left: 30px;
        font-size: 24px;
        line-height: 29px;
        .bold {
          color: #4a29bf;
          font-weight: bold;
        }
      }
    }
    .big-x {
      height: 191px;
      width: 225px;
      background-image: url('../assets/X@2x.png');
      background-position: center;
      background-size: 100%;
      background-repeat: no-repeat;
    }
  }

  .block-3 {
    color: #fff;
    padding: 50px 0;
    .background {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      width: 100vw;
      background-color: #272727;
      height: 1600px;
    }
    .task {
      margin: 100px 0;
      .task-name {
        font-size: 36px;
        line-height: 44px;
        padding-bottom: 20px;
      }
      p {
        font-size: 20px;
        line-height: 30px;
        font-weight: 100;
        a {
          color: #815df0;
        }
      }
      .image-wrapper {
        display: flex;
        align-items: center;
        flex: 1;
        .illustration {
          margin: auto;
          background-position: center;
          background-size: contain;
          background-repeat: no-repeat;
          &.youtube {
            background-image: url('../assets/rules@2x.png');
            height: 270px;
            width: 350px;
          }
          &.mail {
            background-image: url('../assets/rules copy@2x.png');
            height: 270px;
            width: 350px;
          }
          &.trophy {
            background-image: url('../assets/rules copy 2@2x.png');
            height: 270px;
            width: 350px;
          }
        }
      }
    }
  }

  @media (max-width: 992px) {
    .block-3 {
      .task {
        margin: 80px 0;
      }
    }
  }

  @media (max-width: 692px) {
    .block-3 {
      .task {
        margin: 50px 0;
      }
      .background {
        height: 1900px;
      }
    }
  }

  @media (max-width: 375px) {
    .parallax > * {
      background-size: 150%;
    }
    .block-3 {
      .task {
        margin: 40px 0;
      }
    }
  }
}
