.note {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  .subtitle {
    color: #878d92;
    font-size: 14px;
    line-height: 16px;
  }
  .count {
    color: #272727;
    font-size: 36px;
    line-height: 44px;
    font-weight: bold;
    color: #FF5555;
  }
}
.empty-message {
  width: 100%;
  text-align: center;
  padding: 150px 0;
  font-size: 26px;
  font-weight: 200;
  color: gray;
}

@media (max-width: 576px) {
  .note {
    text-align: center;
  }
}
