@media (min-width: 993px) {
    .header .instawrapper {
      right: 10vw !important;
    }
    .feedback-form {
      .title {
        text-align: right;
      }
      .subtitle {
        text-align: right;
      }
    }
  }
  @media (max-width: 992px) {
    .techniques-page .video-wrapper {
      margin-bottom: 0 !important;
    }
    .feedback-form:after {
      display: none;
    }
    .margin-top-on-small {
      margin-top: 20px;
    }
    .lg-none {
      display: none !important;
    }
    .main-page {
      .block-1 {
        .content-wrapper {
          margin-top: 30px !important;
          left: 5vh;
        }
        .background {
          background-position: 20vh center !important;
        }
      }
      .block-2 {
        .big-x {
          margin-left: auto !important;
          margin-right: auto !important;
        }
        .paragraph {
          margin: auto;
          border-left: none !important;
          padding-left: 0 !important;
        }
      }
      .bordered-title {
        border: none !important;
        padding: 0 !important;
      }
      .block-3 {
        margin: 30% 0 !important;
        .task {
          margin: 80px 0;
        }
      }
    }
    .bm-burger-button {
      display: none;
    }
    .header {
      display: block;
    }
    .footer {
      padding-bottom: 50px;
    }
  }
  
  @media (max-width: 768px) {
    .main-page {
      .block-1 {
        .content-wrapper {
          margin-top: 30px;
          left: 5vh;
        }
      }
      .block-3 {
        margin: 40% 0 !important;
        .background {
          height: 94% !important;
        }
        .task {
          margin: 50px 0 0 0 !important;
          .illustration {
            margin-bottom: 30px !important;
          }
        }
        .background {
          // height: 2900px !important;
        }
      }
    }
    .task {
      .title-wrapper {
        justify-content: center !important;
        .bordered-title {
          border-right: none !important;
          text-align: center !important;
          padding-right: 0 !important;
        }
      }
    }
  
    .footer {
      font-size: 20px;
      line-height: 22px;
      .instagram {
        justify-content: flex-start !important;
      }
      .email {
        justify-content: flex-start !important;
      }
    }
  }
  @media (min-width: 693px) {
    .bm-burger-button {
      display: none;
    }
  }
  @media (max-width: 692px) {
    .row.row-1 {
      margin-left: 0 !important;
      margin-right: 0 !important;
    }
    .feedback-form .input-pair {
      margin: 0 -10px !important;
    }
    .container {
      padding: 0 30px;
    }
    .header,
    .sm-none {
      display: none !important;
    }
    .note {
      margin-top: 100px;
    }
    .main-page {
      .block-1 {
        margin-top: 0 !important;
        &:before {
          content: '';
          position: fixed;
          width: 100vw;
          background: #000;
          top: 0;
          z-index: -1;
          left: 50%;
          transform: translateX(-50%);
          height: 100%;
        }
        .background {
          // top: 40vh !important;
          height: 80vh !important;
          background-size: 100vh !important;
          background-position: 78% bottom !important;
        }
        .col {
          margin-top: 50px;
          justify-content: flex-start !important;
          align-items: center !important;
          .content-wrapper {
            margin-top: 0 !important;
            height: 35vh;
            min-height: 160px;
            left: initial !important;
          }
        }
        .main-logo {
          margin-bottom: 10px;
          .top {
            .big {
              font-size: 60px !important;
            }
            .middle {
              font-size: 29px !important;
              line-height: 25px !important;
            }
          }
          .bottom {
            font-size: 32px !important;
            line-height: 4px !important;
          }
        }
        .button {
          margin: 10px 0 !important;
        }
      }
      .main-page .block-2 .background {
        min-height: 1100px;
      }
      .block-3 {
        margin: 55% 0 70% 0 !important;
        .background {
          // height: 2400px !important;
          height: 98.5% !important;
          top: 0% !important;
          &:before {
            top: -151px !important;
            background-size: 800px !important;
          }
        }
      }
    }
    .input-pair {
      .title,
      .subtitle {
        text-align: left !important;
      }
    }
    .bm-burger-button {
      display: block;
    }
    .bock-4 {
      .form-wrapper {
        margin: 70px auto 40px auto;
      }
    }
    .footer {
      padding-bottom: 30px;
      font-size: 16px;
      line-height: 18px;
    }
  }
  
  @media (max-width: 375px) {
    .block-1 .main-logo {
      .top {
        .big {
          font-size: 50px !important;
        }
        .middle {
          font-size: 24px !important;
          line-height: 21px !important;
        }
      }
      .bottom {
        font-size: 27px !important;
        line-height: 3px !important;
      }
    }
    .parallax > * {
      background-size: 150%;
    }
    .block-3 {
      .task {
        margin: 40px 0;
      }
    }
  }
  