.inversed {
  background-color: #1d1d1d;
  &.header {
    background-color: #1d1d1d;
    background-image: linear-gradient(
      to top,
      rgba(255, 255, 255, 0.08),
      rgba(255, 255, 255, 0.15)
    );
    li a {
      color: #8c8c8c;
    }
    li.active a {
      color: #fff;
    }
  }
}
.techniques-page {
  color: #fff;
  position: relative;
  background-image: linear-gradient(to top, #1d1d1d, rgba(255, 255, 255, 0.1));
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100% 30%;
  margin-top: -100px;
  padding: 100px 0;
  &:after {
    content: '';
    position: absolute;
    top: 0;
    background-position: center;
    background-repeat: repeat-x;
    height: 550px;
    width: 100vw;
    opacity: 0.2;
    background-size: 1400px 900px;
    background-image: url('../assets/Gray blocks@2x.png');
  }
  .main-title {
    font-size: 60px;
    margin: 100px 0 170px 0;
  }
  .centered {
    text-align: center;
    width: 100%;
  }
  .task {
    margin: 40px 0;
    .number-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      h1 {
        font-size: 72px;
      }
    }
    h3 {
      font-size: 36px;
      line-height: 44px;
      margin-bottom: 25px;
    }
    .video-wrapper > div {
      background-color: #3b3b3b;
      // display: flex;
      // justify-content: center;
      // align-items: center;
    }
    font-size: 20px;
    line-height: 30px;
  }
  .form-wrapper {
    h3 {
      margin: 100px 0 70px 0;
      font-size: 36px;
    }
  }
  .feedback-form {
    position: relative;
    &:after {
      content: '';
      position: absolute;
      bottom: -300px;
      background-position: bottom;
      background-size: 1400px 800px;
      background-repeat: repeat-x;
      height: 30%;
      width: 100vw;
      opacity: 0.2;
      background-image: url('../assets/Gray blocks@2x.png');
    }
    input {
      border-color: #c2c2c2;
      color: #fff;
      &:focus {
        border-color: #fff;
      }
    }
    .imageWrapper {
      border-color: #c2c2c2;
    }
    .button.button-inverse {
      color: #fff !important;
      border-image: none;
      border-color: #fff;
    }
    .button.button-main {
      background: #fff;
      color: #1d1d1d !important;
    }
    .button:hover.button-main,
    .button:hover.button-inverse {
      box-shadow: 0 2px 30px 0 rgba(255, 255, 255, 0.53);
    }
    .checkboxWrapper h4 a {
      pointer-events: none;
      color: #fff;
    }
  }
}

@media (max-width: 576px) {
  .note {
    text-align: center;
  }
}
