.inversed {
  background-color: #262626;
  &.header {
    // background-color: #1d1d1d;
    // background-image: linear-gradient(
    //   to top,
    //   rgba(255, 255, 255, 0.08),
    //   rgba(255, 255, 255, 0.15)
    // );
    // li a {
    //   color: #8c8c8c;
    // }
    // li.active a {
    //   color: #fff;
    // }
  }
}
.techniques-page {
  color: #fff;
  position: relative;
  // background-image: linear-gradient(to top, #1d1d1d, rgba(255, 255, 255, 0.1));
  // background-repeat: no-repeat;
  // background-position: top;
  background-color: #262626;
  // background-size: 100% 30%;
  // margin-top: 100px;
  // padding: 100px 0;
  &:after {
    content: '';
    position: absolute;
    top: 0;
    background-position: center;
    background-repeat: repeat-x;
    height: 550px;
    width: 100vw;
    opacity: 0.2;
    background-size: 1400px 900px;
    background-image: url('../assets/Gray blocks@2x.png');
  }
  .block-2 {
    padding-top: 130px;
    .background {
      position: absolute;
      // top: 70px;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      max-height: 900px;
      width: 100vw;
      height: 100vh;
      background: url('../assets/Header.png');
      background-position: right top;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
  .main-title {
    font-size: 60px;
    margin: 100px 0 170px 0;
  }
  .centered {
    text-align: center;
    width: 100%;
  }
  .task {
    margin: 80px 0;
    display: flex;
    flex: 1;
    flex-direction: row;
  }
  .title-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    min-height: 80px;
  }
  .bordered-title {
    border-right: 6px solid #fff;
    padding-right: 40px;
    font-size: 48px;
    line-height: 80px;
  }
  .explanation {
    font-size: 20px;
    line-height: 30px;
    font-weight: 100;
  }
  .number-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    h1 {
      font-size: 72px;
    }
  }
  h3 {
    font-size: 36px;
    line-height: 44px;
    margin-bottom: 25px;
  }
  .video-wrapper {
    margin-bottom: 250px;
    z-index: 1;
    & > div {
      background-color: #3b3b3b;
      // display: flex;
      // justify-content: center;
      // align-items: center;
    }
  }
  .form-wrapper {
    h3 {
      margin: 100px 0 70px 0;
      font-size: 36px;
    }
  }
  .feedback-form {
    position: relative;
    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      background-position: bottom;
      background-size: 1400px 800px;
      background-repeat: repeat-x;
      height: 30%;
      width: 100vw;
      opacity: 0.2;
      background-image: url('../assets/Gray blocks@2x.png');
    }
    input {
      border-color: #c2c2c2;
      color: #fff;
      &:focus {
        border-color: #fff;
      }
    }
    .imageWrapper {
      border-color: #c2c2c2;
    }
    .button.button-inverse {
      color: #fff !important;
      border-image: none;
      border-color: #fff;
    }
    .button.button-main {
      background: #fff;
      color: #1d1d1d !important;
    }
    .button:hover.button-main,
    .button:hover.button-inverse {
      box-shadow: 0 2px 30px 0 rgba(255, 255, 255, 0.53);
    }
    .checkboxWrapper h4 a {
      pointer-events: none;
      color: #fff;
    }
  }
}

@media (max-width: 576px) {
  .note {
    text-align: center;
  }
}
