.Modal {
  /* width: 50vw; */
}
.cardContentWrapper {
  display: flex;
  flex-direction: row;
  margin-top: 2rem;
}
.textTips {
  color: #bdc0c3;
  font-size: 0.7rem;
  text-align: center;
}
.slider {
  width: 82%;
  margin: 0.3rem auto 0 auto;
}
.slider .textTips {
  display: flex;
  justify-content: space-between;
}
.buttons {
  display: flex;
  justify-content: center;
}
.buttons > * {
  margin: 1.5rem 0.5rem 0 0.5rem;
}
canvas {
  cursor: pointer;
}
.dropzoneNote {
  color: #b8b8b8;
  font-weight: 500;
}
.dropzoneWrapper {
  margin-top: 5%;
  margin-bottom: 5%;
  cursor: pointer;
}
.noPointer {
  cursor: default !important;
}
.webcamWrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 14.7rem;
  flex: 0.5;
  border: 0.0625rem dashed #e3e6ea;
  border-radius: 0.3125rem;
  background-color: #fafafa;
  overflow: hidden;
  cursor: pointer;
}
.capture {
  margin-bottom: 1rem;
  color: #fff !important;
}
.webcamWrapper > span,
.webcamWrapper svg,
.dropzoneNote {
  color: #b8b8b8;
  font-weight: 500;
}
.webcamWrapper span {
  padding-left: 0.5rem;
  cursor: pointer;
}
.webcamWrapper .absoluted {
  position: absolute;
  bottom: 0;
  z-index: 2;
}
.webcamWrapper video {
  height: 100%;
  width: 100%;
  z-index: 1;
}
.webcamWrapper .textTips {
  position: absolute;
  max-width: 50%;
  text-align: center;
  margin-top: -5%;
}
.imageWrapper {
  overflow: hidden;
  position: relative;
  width: auto;
  box-sizing: content-box;
  text-align: center;
  width: 8rem;
  margin: auto;
  border-radius: 100%;
}
.imageWrapper .imageOverlay {
  border-radius: 100%;
  opacity: 0;
  background: #72a9e4;
  height: 8rem;
  width: 8rem;
  position: absolute;
  top: 0;
  cursor: pointer;
  transition: opacity 100ms linear;
}
.imageWrapper:hover .imageOverlay {
  opacity: 0.5;
}
.imageWrapper .cameraIcon {
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translateX(-1rem);
  transform: translateY(-1rem);
  color: #fff;
  font-size: 0.8rem;
  opacity: 0.8;
  cursor: pointer;
  user-select: none;
}
.imageWrapper img {
  cursor: pointer;
}
